body {
  font-size: 18px;
  font-family: monospace;
}

.react-wrapper {
  padding: 0.5rem;
  border-radius: 4px;
  border: lightblue solid 1px;
}

.article {
  border: solid 1px gray;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
}